Print(your Name, Roll No)


### FOR LOOP

1. Print the multiplication table of a given number

In [3]:
print("Tanishka,23")
n= int(input("Enter a number: "))
for i in range(1,11):
    print(n, "x", i, "=", n * i)

Tanishka,23

Enter a number:  8

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80


2. Print the following star patterns:

In [4]:
print("Tanishka , 23")
for i in range(1,6):
    print("*" * i)

Tanishka , 23
*
**
***
****
*****

*
**
***
****
*****

In [11]:
print("Tanishka,23")
n = 3
for i in range(1, n + 1):
    print(" " * (n-i) + "*" *(2 * i - 1))

for i in range(n-1, 0, -1):
    print(" " * (n - i) + "*" * (2 * i - 1))

Tanishka,23
  *
 ***
*****
 ***
  *

    *
   ***
  *****
   ***
    *

###

In [12]:
print("Tanishka , 23")
pattern = "1010101"
spaces = 0

while len(pattern) > 0:
    print(" " * spaces + pattern)
    pattern = pattern[ :-2]
    spaces+=1

Tanishka , 23
1010101
 10101
  101
   1

   1010101
   10101
   101
   1

3. Count the number of digits in a given number

In [14]:
print("Tanishka , 23")
num = int(input("Enter a number: "))
count = 0
while num > 0:
     count += 1
     num //= 10
print("Number of digitd:",count)

Tanishka , 23

Enter a number:  1526

Number of digitd: 4

### WHILE LOOP

1. Print numbers from 1 to 20

In [15]:
print("Tnaishka , 23")
for i in range(1,21):
    print(i)

Tnaishka , 23
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

2. Find the sum of digits of a number

In [16]:
print("Tanishka,23")
num = int(input("Enter a number: "))
total = 0

while num > 0:
    total += num % 10
    num //= 10

print ("Sum of digits: ",total)

Tanishka,23

Enter a number:  256

Sum of digits:  13

3. Reverse a given number

In [17]:
print("Tanishka , 23")
num = int(input("Enter a number:" ))
reverse = 0
while num > 0:
    reverse = reverse * 10 + num % 10
    num //=10

print("Reversed number: ", reverse)

Tanishka , 23

Enter a number: 59546

Reversed number:  64595

4. Check whether a number is a palindrome using a loop

In [18]:
print("Tanishka , 23")
num=int(input("Enter a number: "))
temp = num
reverse = 0

while temp > 0:
    reverse = reverse * 10 + temp % 10
    temp //= 10

if num == reverse:
    print("Palindrome")
else:
    print("Not a palindrome")

Tanishka , 23

Enter a number:  452

Not a palindrome

### DO-WHILE (SIMULATION

1. Keep taking input from the user until the user enters `0`

In [19]:
print("tanishka , 23")
while True:
    n = int(input("Enter a number: "))
    if n == 0:
        break

tanishka , 23

Enter a number:  152
Enter a number:  456
Enter a number:  25623
Enter a number:  03253
Enter a number:  152633
Enter a number:  45633
Enter a number:  0

2. Create a menu-driven calculator (Addition, Subtraction, Multiplication, Division)

In [20]:
print("Tanishka , 23")
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))

print("1.Addition 2.Subtraction 3.Multiplication 4.Division")
choice = int(input("Enter choice:"))

if choice ==1:
    print(a + b)
elif choice == 2:
    print (a - b)
elif choice == 3:
    print (a * b)
elif choice ==4:
    print(a / b)
else:
    print("Invalid choice")

Tanishka , 23

Enter a number:  4
Enter a number:  5

1.Addition 2.Subtraction 3.Multiplication 4.Division

Enter choice: 3

20

3. Continue asking for a password until the correct password is entered

In [21]:
print("Tanishka , 23")
correct_password = "python123"

while True:
    pwd = input("Enter password: ")
    if pwd == correct_password:
        print("Access granted")
        break
    else:
        print("Wrong password")

Tanishka , 23

Enter password:  uidau

Wrong password

Enter password:  python123

Acces granted

1. Print all even numbers between 1 and 50 using a loop

In [22]:
print("Tanishka , 23")
for i in range(2, 51, 2):
    print(i)

Tanishka , 23
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

2. Find the factorial of a given number using a `for` loop

In [23]:
print("Tanishka , 23")
n = int(input("Enter a number: "))
fact=1

for i in range (1, n + 1):
    fact *= i

print("Factorial:", fact)

Tanishka , 23

Enter a number:  8

Factorial: 40320

3. Print the Fibonacci series up to `n` terms

In [24]:
print("Tanishka , 23")
n = int (input("Enter number of trems: "))
a, b = 0, 1

for i in range(n):
    print(a, end=" ")
    a, b = b, a+b

Tanishka , 23

Enter number of trems:  4

0 1 1 2

4. Check whether a given number is prime

In [26]:
print("Tanishka , 23")
n=int(input("Enter a number:"))
count = 0

for i in range(1, n+1):
    if n % i ==0:
        count+=1
if count == 2:
    print("Prime number")
else:
    print("Not a prime number:")

Tanishka , 23

Enter a number: 11

Prime number

5. Count the number of vowels in a given string using a loop

In [3]:

print("Tanishka , 23")
s = input("Enter a string:")
count = 0

for ch in s:
    if ch.lower() in "aeiou":
        count += 1
print ("Number of vowels:" , count)

Tanishka , 23

Enter a string: ios

Number of vowels: 2

In [2]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
i = 1
while i <= 5:
    print(i)
    i = i + 1

1
2
3
4
5